# modules and builds
*.local
dist
dist-ssr
elm-stuff
node_modules
repl-temp-*


# constants and secrets
.env
src/Constants.elm


# Logs
*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
